/* Manual de CSS de WebEstilo.com */
/* Definición de estilos en un archivo aparte */

/* Estilo para el documento */
:link { color: rgb(0, 0, 153) }  /* for unvisited links */
  :visited { color: rgb(153, 0, 153) } /* for visited links */
  a:active { color: rgb(255, 0, 102) } /* when link is clicked */
  a:hover { color: rgb(0, 96, 255) } /* when mouse is over link */
  
BODY {font-family:Verdana,sans-serif;font-size:20pt;
margin-left:0.25in; margin-right:0.25in}

/* Estilo para la cabecera de nivel 2 */
P.cabecera {font-family:Verdana,sans-serif; font-size:15pt;color:red}

/* Estilos para otras etiquetas */
TD.titulo {font-family:Verdana,sans-serif;font-size:20;
color:red}
TD.linea {font-family:Verdana,sans-serif;font-size:18;
color:black}
